.container{
    height: 100%;
}


.sidenav{
    width: 13rem;
    background: linear-gradient(90deg, rgba(172,200,233,1) 0%, rgba(124,154,242,1) 100%);
}

.sidenav i {
    margin-right: .6rem;
}


.menu {
    margin: 1rem 0 0 1rem;
    color: rgba(5, 0, 0, 0.733);
    background: linear-gradient(90deg, rgba(172,200,233,1) 0%, rgba(124,154,242,1) 100%);
}
