.container{
    height: 100%;
}


.sidenav{
    width: 13rem;
    background: linear-gradient(90deg, rgba(224,249,115,1) 0%, rgba(231,255,85,1) 51%);
}

.sidenav i {
    margin-right: .6rem;
}


.menu {
    margin: 1rem 0 0 1rem;
    color: rgb(5, 0, 0);
    background: linear-gradient(90deg, rgb(221, 240, 140) 0%, rgba(231,255,85,1) 51%);
}
